*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #DDDD;
}

main .galeria .carousel .carousel-indicators {
    background: none;
}

main .btn, main .carousel-control-next-icon, main .carousel-control-prev-icon, main .talles label:hover{
    background-color: #0EEF53;
    color: white;
}

main .ini{
    text-decoration: none;
    color: #0EEF53;
}

main .galeria .pequeño img{
    filter: grayscale();
    transition: 0.2s;
}

main .galeria .pequeño img:hover{
    filter: grayscale(0%);
}

main .talles input{
    display: none;
}

main .talles label{
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    transition: all 0.3s;
    background-color: white;
}

main .talles label:last-of-type{ 
    border-right: 0; 
}

main .carousel-item img{
    cursor: zoom-in;
}

main.carousel-item img:hover{
    transform: scale(1.1);
}

main .coment{
    margin-bottom: 2rem
}

main section .card .icono{
        width: 2rem;
        margin-left: 1rem;
    }


 main section .recom{
    width: 12rem;
 }   
 main .accordion{
    margin: 0 auto;
 }
 main .accordion .table{
    margin: 0 auto;
 }
 
@media (max-width: 575px) {
   main .galeria .pequeño img{
        width: 3rem;
    }
   main section .recom{
        width: 10rem;
    }
    
   main .accordion{
       
        margin-top: 2rem;
        width: 15rem;
    }
   main section .usu{
        width: 3rem;
        height: 3rem;
    }
   main section .publicar{
        width: 5rem;
    }
    
}



@media (min-width: 416px){

   main .galeria .pequeño img{
        width: 6rem;
    }
 
   main .usu{
        width: 5rem;
        height: 5rem;
    }

    main .accordion{
        width: 25rem;
    }

    main section .publicar{
        margin-right: 5rem;
    }
}

@media (min-width: 576px) {
    main section .descrip{
        width: 30rem;
    }
   
}
@media (min-width: 768px) {
    main section .descrip{
        margin-right: 3rem;
        margin-left: 3rem;
        width: 20rem;
    }   
}

@media (min-width: 998px){
    main section .descrip{
        width: 30rem;
    }
    main section .accordion{
        width: 30rem;
    }
    main section .publicar{
    margin-left: 10rem;
    }
    main section .galeria .carousel{
        width: 22rem;
    }

}