*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ini{
    text-decoration: none;
    color: #0EEF53;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #0EEF53;
}

.pequeño img{
    filter: grayscale();
    transition: 0.2s;
}

.pequeño img:hover{
    filter: grayscale(0%);
}

input{
    background-color: green;
}

input{
    display: none;
}

label{
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    transition: all 0.3s;
}

label:last-of-type{ 
    border-right: 0; 
}

label:hover{
    background: #0EEF53;
}

.carousel-item img{
    cursor: zoom-in;
}

.carousel-item img:hover{
    transform: scale(1.1);
}

.coment{
    margin: 0 auto;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.descrip{
    margin: 0 auto;
    display: flex;
    align-self: center;
}

.carrusel{
    margin: 0 auto;
}
@media (max-width: 575px) {


    .pequeño img{
        width: 5rem;
    }
    .recom{
        width: 10rem;
    }
    .icono{
        width: 2rem;
        margin-left: 1rem;
    }
    .accordion{
        margin: 0 auto;
        margin-top: 2rem;
        width: 15rem;
    }
    .usu{
        width: 3rem;
        height: 3rem;
    }
    .publicar{
        width: 5rem;
        background-color: #0EEF53;
        color: white;
    }
    
}

@media (min-width: 416px){

    .carousel{
        width: 33rem;
    }
   .pequeño img{
        width: 8rem;
    }
 
    .usu{
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 768px) {

    
    
    
}