*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: #DDDDDD;
}
body .btn-inicio{
    display: inline-block;
    
}
.carrito{
    border: 1px solid #DDDDDD;
    width: 60%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: sticky ;
    top: 0;

}
.carrito .carrito-header{
    background-color: #121212;
    color: #dddddd;
    text-align: center;
    padding: 30px;

}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #121212;
    padding: 20px;
    position: relative;
}
.carrito .carrito-item img{
    margin-right: 40px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;

}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    
    
    
}

.carrito .carrito-item .selector-cantidad input{
    width: 35px;
  
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #121212;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid  #121212;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito-total{
    background-color: #121212;
}

.carrito-total .fila{
    color: #DDDDDD;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 30px;
}
.carrito-total .fila strong{
    margin-right: 25px;
}

.carrito-total .btn-pagar{
    width: 100%;
    border:none;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 18px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    

}

.carrito-total .btn-pagar i{
    margin-left: 10px;
}