/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    padding: 20px;
}

.div1 {
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para las tarjetas */
.card {
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.card-body {
    padding: 10px;
}

.card-img-top {
    max-width: 100%;
}

/* Estilos para los botones */
.btn {
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-outline-success {
    border-color: #28a745;
    color: #28a745;
}

/* Estilos para la paginación */
.pagination {
    margin: 20px 0;
}

.page-item {
    margin: 0 5px;
}

/* Estilos para el encabezado */
h1 {
    font-size: 2rem;
    margin: 20px 0;
}

/* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
