
body{
    background-color: var(--platinum);
    color: var(--night);
}
/* NAV */
.buscar:focus{
	border: 1px solid var(--green-erin);
}

/* 404 */
.card{
    padding-top: 50px;
    border: none;
    cursor: default;
    color: var(--night);
    background-color: var(--platinum);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
}
.img-container{
    max-height: 600px;
    max-width: 90%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--night);
    margin-top: -50px;
    gap: 20px;
}
.img404{
    object-fit: cover;
}
.btn-dark{
	background-color: var(--night);
    color: var(--green-erin);
    font-weight: bold;
    transition: all .3s;
    position: relative;
    cursor: pointer;
    width: 150px;
}
.btn-dark:active, .btn-dark:visited, .btn-dark:hover{
    background-color: var(--green-erin);
    color: var(--night);
}
.btn-dark:active{
    top:1px;
}
.btn-dark a{
	text-decoration: none;
}

.button:active svg{
    fill: #000;
}
/* FOOTER */

.background {
    display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 25px;
}

.social-buttons {
	list-style: none;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}
.social-buttons span{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: all 0.3s;
    border: 1px solid var(--primary-color);
}
.social-buttons a {
    width: 100%;
    height: 100%;
    color: var(--secondary-color);
	display: grid;
	place-items: center;
}
.social-buttons span:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}
.social-buttons span a svg {
    height: 24px;
    width: 24px;
    stroke: var(--secondary-color);
    stroke-width: 1.75;
    transition: 0.8s;
}
.social-buttons span:hover svg {
    stroke: var(--primary-color);
    transform: rotateY(360deg);
    stroke-width: 1.75;
}