.footer {
  background-color: var(--night);
  width: 100%;
  position: relative;
  font-size: 12px !important;
  height: 400px;
}
.footer-logo img {
  width: 100px;
  height: 90px;
}
.footer-group1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.footer-group2 {
  display: flex;
  margin: 5px;
  justify-content: space-around;
}
.footer-group2 h3, .footer-group2 h2 {
  color: var(--platinum) !important;
  cursor: default;
}
.footer-contact {
  flex-direction: column;
  color: var(--tiffany-blue);
  cursor: default;
}
.footer-contact p i,
.footer-contact a i {
  font-size: 12px;
  margin-right: 10px;
  color: var(--green-erin);
}
.footer-contact a {
  text-decoration: none;
  color: var(--tiffany-blue);
}
.footer-information {
  display: flex;
  flex-direction: column;
}
.footer-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-credit {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.footer-credit img {
  width: 40px;
  height: 35px;
  border-radius: 5px;
  object-fit: contain;
  transition: all 0.3s;
  cursor: pointer;
  background-color: var(--platinum);
  padding: 5px;
}
.footer-credit img:first-child {
  object-position: 50% 50%;
}
.footer-credit img:hover {
  transform: scale(1.2);
}
.footer-social {
  display: flex;
  justify-content: space-around;
}
.footer-ig,
.footer-tw,
.footer-wp,
.footer-fb {
  background-color: var(--green-erin);
  font-size: 30px;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  margin-top: -10px;
  border-radius: 8px;
  color: var(--night);
  transition: all 0.5s;
}
.footer-social i{
  transition: all .5s;
}
.footer-ig:hover,
.footer-tw:hover,
.footer-wp:hover,
.footer-fb:hover {
  background-color: var(--night);
  border: 1px solid var(--green-erin);
  color: var(--green-erin);
}
.footer-ig:hover i,
.footer-tw:hover i,
.footer-wp:hover i,
.footer-fb:hover i {
  transform: rotateY(-360deg);
}
.footer h2, .footer h3 {
  font-size: 20px;
  color: var(--slate-gray);
  margin-bottom: 10px;
  font-weight: 600;
  position: relative;
}
.footer-card h2::before, .footer-card h3::before {
  content: "";
  position: absolute;
  bottom: -3px;
  background-color: var(--tiffany-blue);
  height: 2px;
  width: 100px;
}
.footer-information a {
  color: var(--tiffany-blue);
  text-decoration: none;
  padding: 5px;
  transition: all 0.3s ease;
}
.footer-information a:hover {
  text-decoration: underline;
  padding-left: 8px;
}
.copyright p {
  color: var(--tiffany-blue);
}
.copyright {
  text-align: center;
  margin-top: 10px;
}
hr {
  color: var(--tiffany-blue);
  margin: 0;
}
.fa-envelope {
  color: var(--slate-gray);
}
.fa-phone {
  color: var(--green-erin);
}
@media (max-width: 900px) {
  .footer {
    padding: 30px;
  }
  .footer-group1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-group2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
}
