
.modal-content{
    background-color: var(--night) !important;
    color: var(--platinum) !important;
    border: 2px solid var(--platinum) !important;
    z-index: 25;
}
.modal-body{
    width: 80%;
    margin: auto;
}
.modal-body form div input{
    outline: none;
    background-color: var(--platinum);
    cursor: pointer;
}
.modal-body form div input:focus{
    border: 2px solid var(--green-erin);
    cursor: text;
}
.user span{
    color: var(--green-erin);
    font-weight: 500;
}
.login-social{
    margin: auto;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 20px !important;
    width: 100% !important;
}
.google, .facebook{
    background-color: var(--night);
    border: 2px solid var(--green-erin) !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--green-erin) !important;
    transition: all .3s;
    width: 49%;
}
.google i, .facebook i{
    font-size: 35px;
    transition: all .5s;
}
.google:hover i, .facebook:hover i{
    transform: rotateY(360deg);
}
.login-social p{
    height: 100%;
    margin-bottom: 0;
}
.btn-close{
    background-color: var(--platinum) !important;
}


/* MODAL-FOOTER */
.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 10px 0 !important; 
}
.modal-footer button{
    font-weight: 500;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.modal-footer i{
    position: absolute;
    left: 0;
    transition: transform .4s;
    transform: translateX(-100%);
    font-size: 25px;
}
.modal-footer button span{
    transition: all .5s;
}
.modal-footer button:hover span{
    display: none;
}
.modal-footer button:hover > i{
    transform: translateX(200%);
}
.modal-footer > button{
    background-color: transparent;
    border: 2px solid var(--platinum);
    color: var(--platinum);
    border-radius: 5px;
    padding: 7px;
    transition: all .3s;
}
.modal-footer > button:hover{
    background-color: var(--platinum);
    color: var(--night);
}
.modal-footer button:nth-child(2){
    background-color: var(--green-erin);
    color: var(--night);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 7px;
}
.modal-footer button:nth-child(2):hover{
    filter: brightness(130%);
}
.login-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-btn a{
    background-color: transparent;
    text-decoration: none;
    border-right: 2px solid var(--green-erin);
    padding-right: 5px;
    color: var(--platinum);
    text-align: start;
}

@media screen and (max-width: 576px){
    .login-social{
        flex-direction: column;
        gap: 10px;
    }
    .login-btn a{
        font-size: 10px;
        width: 49%;
    }
    .google, .facebook{
        width: 100%;
    }
    .modal-footer{
        justify-content: space-between;
    }
    .google i, .facebook i{
        font-size: 20px;
    }
}