*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--night);
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    width: 100%;
    transition: all .3s;
}
.nav-logo{
    cursor: pointer;
    place-self: center;
}
.nav-logo img {
    width: 100px;
    height:100px;
    transition: all .3s;
}
.nav-logo img:hover{
    transform: scale(1.15)
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid green;
    transition: all .3s;
}
.nav-burguer{
    display: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    list-style: none;
    height: 100%;
    border: 1px solid red
}
.nav-links li a{
    text-decoration: none;
    color: var(--platinum);
    transition: all .3s;
}
.nav-links li a:hover{
    color: var(--green-erin);
    transform: scale(1.1);
}
.search{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 1px solid red;
}
.search input{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-size: 20px;
    color: transparent;
    border: 3px solid var(--green-erin);
    transition: all .3s;
    overflow: hidden;
    background: url('../img/img-404/lupa.svg') no-repeat var(--platinum);
    background-size: 25px;
    background-position: 45% 50%;
}
.search input:hover{
    cursor: pointer;
    border: 3px solid var(--green-erin);
    background: url('../img/img-404/lupa.svg') no-repeat var(--platinum);
    background-size: 30px;
    background-position: 45% 50%;
}
.search input:focus, .search input:not(:placeholder-shown){
    max-width: 300px;
    width: 100%;
    cursor: text;
    color: var(--night);
    outline: none;
    transition: all .3s;
    border: 3px solid var(--green-erin);
    background: url('../img/img-404/lupa.svg') no-repeat var(--platinum);
    background-size: 30px;
    background-position: 250px 50%;
}
/* .search figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-erin);
    border-radius: 10px;
    padding: 5px;
    position: relative;
} */
/* .search figure:active{
    top: 1px;
} */
/* .search figure img{
    width: 30px;
    height: 30px;  
    transition: all 0.3s;
}
.search figure img:hover{
    transform: scale(1.1);
    cursor: pointer;
} */
.session{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    height: 100%;
    border: 1px solid red;

}
.session a{
    text-decoration: none;
    color: var(--platinum);
    transition:  .3s;
}
.session a:hover{
    color: var(--green-erin);
    transform: scale(1.1);
}
.link-carrito{
    position: relative;
    width: 35px;
    height: 35px;
}
.link-carrito::before{
    content:'2';
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.carrito{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}
.carrito:hover{
    background-color: var(--green-erin);
}
@media screen and (min-width: 375px){
    header{
        display: flex;
        justify-content: space-between;
        border: 1px solid blue;
        padding: 0 60px;
        gap: 0;
        position: sticky;
        top: 0;
        z-index: 5;
    }
    .nav-container{
        position: relative;
    }
    .nav-links, .session{
        display: none;
    }
    .session-link{
        display: block;
    }
    .nav{
        height: 100%;
    }
    /* BURGUER MENU */
    .nav-burguer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2rem;
        border: 0;
        background-color: transparent;
        gap: .5rem;
        cursor: pointer;
        position: relative;
    }
    .nav-burguer > div {
        background: var(--platinum);
        height: .2rem;
        width: 100%;
        transition: all .5s;
        transform-origin: left;
    }
    .nav-burguer:hover div:first-child{
        transform: rotate(45deg);
    }
    .nav-burguer:hover div:nth-child(2){
        opacity:0;
    }
    .nav-burguer:hover div:nth-child(3){
        transform: rotate(-45deg);
    }
    .nav-burger:hover + .nav-links{
        display: block;
        height: 100vh;
        background-color: var(--night);
        width: 50vw;
    }
    /* .nav-links2{
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: auto;
        background-color: var(--night);
        height: 100vh;
        width: 50vw;
        padding: 0;
        z-index: 2;
    }
    .nav-links2 li{
        width: 100%;
        height: 100%;
        border-bottom: 1px solid var(--platinum);
    }
    .nav-links2 li:hover{
        background-color: var(--platinum);
    }
    .nav-links2 li:hover a{
        color: var(--night);
    }
    .nav-links2 li a{
        color: var(--platinum);
        text-decoration: none;
    }
    .nav-burguer:hover .nav-links2, .nav-links2:hover{
        display: flex;
    } */
}

@media screen and (min-width: 700px) and (max-width: 800px){
    .header{
        grid-template-columns: 1fr 100px 1fr;
        place-items: center;
        column-gap: 0;
    }
    .nav-container{
        justify-content: space-evenly;
    }
    .nav-logo{
        width: 90px; 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
    }
    .nav-logo img{
        object-fit: contain;
    }
    .nav-links, .session-link{
        display: none;
    }
    .search{
        position: relative;
        max-width: 200px;
        left:0;
    }
    .search:hover + .nav-burguer{
        transform: translateX(-100px);
    }
    /* .nav-burguer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2rem;
        border: 0;
        background-color: transparent;
        gap: .5rem;
        cursor: pointer;
        position: relative;
    }
    .nav-burguer > div {
        background: var(--platinum);
        height: .2rem;
        width: 100%;
        transition: all .5s;
        transform-origin: left;
    }
    .nav-burguer:hover div:first-child{
        transform: rotate(45deg);
    }
    .nav-burguer:hover div:nth-child(2){
        opacity:0;
    }
    .nav-burguer:hover div:nth-child(3){
        transform: rotate(-45deg);
    }
    .nav-links2{
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        list-style: none;
        top: 40px;
        right: -45px;
        margin: auto;
        background-color: var(--night);
        height: 200px;
        width: 150px;
        padding: 0;
        z-index: 2;
    }
    .nav-links2 li{
        width: 100%;
        height: 100%;
        border-bottom: 1px solid var(--platinum);
    }
    .nav-links2 li:hover{
        background-color: var(--platinum);
    }
    .nav-links2 li:hover a{
        color: var(--night);
    }
    .nav-links2 li a{
        color: var(--platinum);
        text-decoration: none;
    }
    .nav-burguer:hover .nav-links2, .nav-links2:hover{
        display: flex;
    } */
}
