
body{
    background-color: var(--platinum);
}

.productos-navegador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productos-navegador button{
    min-width: 100px;
    max-width: 150px;
    height: 40px;
    padding: 5px;
    outline: none;
    border: 1px solid var(--night);
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;
}
.productos-navegador button a{
    text-decoration: none;
    width: 100%;
    display: block;
    color: var(--night); 
    text-transform: uppercase;
    font-weight: 500;
}
.productos-navegador button:hover{
    background-color: var(--night);
    transform: skewX(-20deg);
}
.productos-navegador button:hover a{
    color: var(--platinum);
}
.producto-categoria h3{
    background-color: var(--night);
    color: var(--platinum);
    height: 60px;
    line-height: 60px;
}
.producto-categoria figure, .productos-container figure{
    margin: 5px auto;
    transform: skewX(-10deg);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.producto-categoria figure .producto-promo, .productos-container figure .producto-promo {
    width: 90%;
    height: 100%;
    object-fit: contain;
}
.productos-card{
    width: 15rem !important;
    min-height: 26rem;
    max-height: 26rem;
    background-color: var(--platinum);
    transition: all .3s;
    overflow: hidden;
}
.productos-card:hover{
    border: 0 2px 2px 0 solid var(--slate-gray);
    box-shadow: 2px 2px 3px var(--night);
    
}
.productos-card :is(p, h5){
    cursor: default;
}
.productos-card img{
    object-fit: cover;
    width: 100%;
    height: 15rem !important;
}
.productos-card .productos-btn{
    width: 150px;
    background-color: transparent;
    border: 2px solid var(--night);
    transition: all .3s;
    cursor: pointer;
    color: var(--night);
    font-weight: 500;
}
.productos-card .productos-btn:hover{
    background-color: var(--green-erin);
    color: var(--night);
}
.nav-pagination ul li .active{
    background-color: var(--green-erin);
    border: none;
    color: var(--night);
    font-weight: 400;
}
.nav-pagination ul li a:hover{
    background-color: var(--night);
    color: var(--green-erin);
    font-weight: 500;
}
.nav-pagination ul li a{
    color: var(--night);
}
.nav-pagination .next{
    background-color: var(--green-erin);
    font-weight: 400;
    border: none;
}
.nav-pagination disabled{
    background-color: var(--slate-gray);
    color: var(--night);
}