@import url('[https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap]');

:root{
    --night: #121212;
    --green-erin: #0EEF53;
    --platinum: #DDDDDD;
    --light-blue: #B9EDDD;
    --tiffany-blue: #87CBB9;
    --slate-gray: #577D86;
    font-family: 'Noto Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--platinum);
    color: var(--night);
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* IMAGENES */
.img-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 150px;
	grid-auto-flow: dense;
    background-color: var(--night);
    padding: 20px;
    gap: 12px;
}
.img-container figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    border: 2px solid var(--slate-gray);
    transition: all .3s;
}
.img-container figure img:hover{
    filter:grayscale(0);
    border: none;
    transform: scale(1.1);
}
.img3{
    grid-row: span 2;
}
.img2{
    grid-row: span 2;
}
.img4{
    grid-column: span 2;
    grid-row: span 2;
}


/* FORM */
.form-container{
    max-width: 600px;
}
form label{
    font-size: 1rem;
}
.form-control:focus, .form-control:active{
    outline: var(--green-erin) solid 3px;
}
.passwords{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.pass{
    background: var(--night);
    border-radius: 10px;
    color: var(--platinum);
    font-size: 10px;
}
.pass strong{
    font-weight: bold;
    color: var(--green-erin);
}
.form-select:focus{
    outline: var(--green-erin) solid 3px;
}
.form-check{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:20px;
}
.form-check-input[type=checkbox]:checked{
    background-color: var(--green-erin);
    color: var(--night);
    outline: none;
    border: 1px solid var(--night);
}
.form-check-input[type=checkbox]{
    font-size: 20px;
}
.reg-confirm{
    background-color: var(--night);
    color: var(--green-erin);
    font-weight: bold;
    transition: all .3s;
    position: relative;
    cursor: pointer;
    width: 150px;
}
.reg-confirm:active, .reg-confirm:visited, .reg-confirm:hover{
    background-color: var(--green-erin);
    color: var(--night);
}
.reg-confirm:active{
    top:1px;
}

/* MEDIA QUERYS */

@media screen and (max-width: 768px){
    form label{
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 660px){
    .reg-info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
    }
    .reg-info input[type=text]{
        width: 290px;
    }
    .address{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .passwords{
        display: flex;
        flex-direction: row;
    }
    .passwords input[type=password]{
        width: 260px;
    }
    .pass{
        width: 260px;
    }
}
@media screen and (max-width: 992px){
    .img-container{
        display: none;
    }
}
@media screen and (min-width: 992px){
    .reg-info{
        gap: 45px;
    }
    .reg-info input[type=text]{
        width: 230px;
    }
}