@import url('[https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap]');

:root{
    --night: #121212;
    --green-erin: #0EEF53;
    --platinum: #DDDDDD;
    --light-blue: #B9EDDD;
    --tiffany-blue: #87CBB9;
    --slate-gray: #577D86;
    font-family: 'Noto Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--platinum);
    color: var(--night);
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* IMAGENES */
.img-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: dense;
    background-color: transparent;
    padding: 20px;
    gap: 5px;
}
.img-container figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
    filter: grayscale(1);
}
.img-container figure{
    /* border: 2px solid var(--slate-gray); */
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}
.img-container figure:hover img{
    transform: scale(1.6);
    filter:grayscale(0);
}
.img-container figure:hover{
    border: 2px solid var(--green-erin);

}
.img3{
    grid-row: span 2;
}
.img2{
    grid-row: span 2;
}
.img4{
    grid-column: span 2;
    grid-row: span 2;
}

/* FORM */
.form-container{
    max-width: 600px;
}
form label{
    font-size: 1rem;
}
.form-control:focus, .form-control:active{
    outline: var(--green-erin) solid 3px;
}   

.pass{
    background: var(--night);
    border-radius: 10px;
    color: var(--platinum);
    font-size: 12px;
    line-height: 1.7;
}
.pass strong{
    font-weight: bold;
    color: var(--green-erin);
}
.form-select:focus{
    outline: var(--green-erin) solid 3px;
}
.form-check{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:20px;
}
.form-check-input[type=checkbox]:checked{
    background-color: var(--green-erin);
    color: var(--night);
    outline: none;
    border: 1px solid var(--night);
}
.form-check-input[type=checkbox]{
    font-size: 20px;
}
.reg-confirm{
    background-color: var(--night);
    color: var(--green-erin);
    font-weight: bold;
    transition: all .3s;
    position: relative;
    cursor: pointer;
    width: 150px;
    border-radius: 0;
}
.reg-confirm:active, .reg-confirm:visited, .reg-confirm:hover{
    background-color: var(--green-erin);
    color: var(--night);
}
.reg-confirm:active{
    top:1px;
}
.address{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MEDIA QUERYS */
@media screen and (min-width:576px){
    .passwords, .reg-info{
        display: flex;
    }
    .passwords div, .reg-info div{
        width: 49%;
    }
    .address{
        flex-direction: row !important;
    }
}
@media screen and (max-width: 660px){
    form label{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 992px){
    .img-container{
        display: none;
    }
}